* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(image/background.avif);
  background-size: cover;
  min-height: 500px;
}
.header_section {
  padding: 10px;
  text-align: center;
}
.header_section h1 {
  color: white;
}
